<div>
  <h3 class="text-primary mb-2 text-sm font-medium">DELIVERY ADD-ON: NEXT/NAMED DAY (OPTIONAL)</h3>
  <div class="mb-1 flex items-center space-x-3">
    {% render 'icons', icon: 'calendar' %}
    <button type="button" class="btn btn-primary flex-grow py-2 text-center text-sm">
      SELECT DELIVERY DATE
    </button>
  </div>
  <p class="text-xs text-gray-500">Additional charges added to standard delivery.</p>
</div>
