{% comment %} Check for product intro metafield {% endcomment %}
{% if product.metafields.custom.product_intro %}
  <div class="mb-4">
    <div class="product-intro">
      <p>{{ product.metafields.custom.product_intro }}</p>
    </div>
  </div>
{% endif %}

{% comment %} Product attributes from tags {% endcomment %}
{% assign attribute_tags = product.tags | where: 'productAttributes:' %}
{% assign attributes = '' %}
{% for tag in product.tags %}
  {% if tag contains 'productAttributes:' %}
    {% assign attribute_value = tag | remove: 'productAttributes:' %}
    {% if attributes == '' %}
      {% assign attributes = attribute_value %}
    {% else %}
      {% assign attributes = attributes | append: '|' | append: attribute_value %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if attributes != '' %}
  <div class="mb-4 flex justify-start gap-4 md:justify-start">
    <div class="flex gap-2">
      {% assign attribute_array = attributes | split: '|' %}
      {% for attribute in attribute_array %}
        <span class="text-primary text-left text-sm">{{ attribute }}</span>
        {% unless forloop.last %}|{% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}
