<div class="my-6">
  <add-to-cart
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
    data-available="{{ product.selected_or_first_available_variant.available }}"
  ></add-to-cart>
</div>
