<div class="mb-4 flex justify-center gap-4 md:justify-start">
  <div class="flex gap-2">
    <span class="text-primary">iPhone 16 Series</span>|<span class="text-primary">Horween®</span>
  </div>
</div>
