.article {
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-primary;
  }
  @apply prose font-body text-primary mx-auto mb-12 grid justify-center;
  p,
  ul,
  li {
    @apply mb-4 text-lg;
  }
  img {
    @apply md:-mx-8 lg:-mx-16;

    @media (min-width: 48em) {
      width: calc(100% + 4rem);
      max-width: 100vw;
    }
    @media (min-width: 64em) {
      width: calc(100% + 8rem);
    }
  }
}
