/* ==========================================================================
    Default Flickity Styles
========================================================================== */
.flickity-enabled {
  @apply relative;
}

.flickity-enabled:focus {
  @apply outline-none;
}

.flickity-viewport {
  @apply relative h-full overflow-hidden;
}

.flickity-slider {
  @apply absolute h-full w-full;
}

.flickity-enabled.is-draggable {
  @apply select-none;
  -webkit-tap-highlight-color: transparent;
}

.flickity-enabled.is-draggable .flickity-viewport {
  @apply cursor-move;
  cursor: -webkit-grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  @apply cursor-grabbing;
}

.flickity-button {
  @apply absolute flex items-center justify-center border-none bg-white/75 text-gray-800;
}

.flickity-button:hover {
  @apply cursor-pointer bg-white;
}

.flickity-button:focus {
  @apply outline-none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  @apply opacity-60;
}

.flickity-button:disabled {
  @apply pointer-events-none cursor-auto opacity-30;
}

.flickity-button-icon {
  @apply fill-primary relative;
}

.flickity-prev-next-button {
  @apply absolute top-1/2 h-11 w-11 -translate-y-1/2 rounded-full;
}

.flickity-prev-next-button.previous {
  @apply left-2.5;
}

.flickity-prev-next-button.next {
  @apply right-2.5;
}

.flickity-rtl .flickity-prev-next-button.previous {
  @apply left-auto right-2.5;
}

.flickity-rtl .flickity-prev-next-button.next {
  @apply left-2.5 right-auto;
}

.flickity-prev-next-button .flickity-button-icon {
  @apply flex h-4 w-4 items-center justify-center;
}

.flickity-page-dots {
  @apply absolute -bottom-6 m-0 w-full list-none p-0 text-center leading-none;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  @apply bg-primary mx-1.5 inline-block h-1.5 w-1.5 cursor-pointer rounded-full opacity-25;
}

.flickity-page-dots .dot.is-selected {
  @apply mx-1 h-2 w-2 opacity-100;
}

/* ==========================================================================
    Additional Flickity Styles
========================================================================== */

.product-gallery-carousel-nav {
  @apply h-20 w-[39vw] max-w-[592px];
  transform: rotate(90deg) translate(30px, -100%);
  transform-origin: left top;

  .carousel-cell {
    @apply mr-4 h-20 w-20 cursor-pointer text-[1.4rem];

    img {
      transform: rotate(-90deg);
    }

    &:before {
      transform: rotate(-90deg);
    }
    
    &:not(.is-nav-selected) {
      @apply opacity-60;
    }

    /* selected cell */
    &.is-nav-selected {
      @apply border border-black;
    }
  }

  .flickity-prev-next-button {
    @apply h-10 w-10 bg-transparent;

    &.previous {
      @apply -left-10;
    }
    &.next {
      @apply -right-10;
    }
  }
}

.product-gallery-carousel-main {
  .flickity-page-dots {
    @apply hidden;
    @media screen and (max-width: 767px) {
      @apply block;
    }
  }
}
/* 
#component-carousel .flickity-page-dots {
  @apply bottom-0 left-0;
} */
